{% extends 'main.html' %}




{% block content %}
<div class="main12">
  
    <ul id="mya" class="nav justify-content-center ">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Services</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'logout_page' %}">Add user</a>
      </li>
      
      
    </ul>
      <div class="chor">
        <p>earn more <br>grow more</p>
      </div>

      
  </div>
{% endblock %}
