{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'sign.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
    <title>Document</title>

</head>
<body>
<div>
    {% block content %}




    {% endblock %}

</div>


<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let accordions = document.querySelectorAll('.accordion');

        accordions.forEach(function (accordion, index) {
            let button = accordion.querySelector('.accordion-button');
            let collapseId = `flush-collapse${index + 1}`;
            let collapseTarget = accordion.querySelector('.accordion-collapse');
            button.setAttribute('data-bs-target', `#${collapseId}`);
            collapseTarget.setAttribute('id', collapseId);
        });
    });
</script>



</body>
</html>