.formm{
    margin-top: 50px;
}
.iskk{
    color: red;
    font-style: italic;
}

.form1{
    width: 50%;
    margin-left: 25%;
    margin-top: 20%;
    background-color: rgb(84, 79, 222);
    border-radius: 25px;
}
.btnc{
    height: 40px;
    width: 100px;
    margin-left: 35%;
    margin-bottom: 5px;
    border-radius: 25px;
}
.center-div{
    padding-top: 10%;
    background-image: linear-gradient(rgb(39, 155, 233),white);
  }
 
.btn.btn-success{
padding: .4em 2em;
}

form{
padding: 0 3em;
}

#login.title>span{
font-size: .8em;
}
.main12{
   width: 100%;
   height: 900px;
   background-image: linear-gradient(to right, #2c1e4a,#5F1C70);
}
.myfon{
color:whitesmoke;
}
.chor{
color: whitesmoke;
margin-top: 250px;
margin-left: 900px;
font-size: 50px;

}

.accordion-button {
    background-color: #041322; /* Change to your desired color */
    color: #1c1c1c; /* Text color */
    height: 40px;
}

/* Customize accordion body background color and text color */
.accordion-body {
    background-color: #030c15; /* Change to your desired color */
    color: #000; /* Text color */
}

/* Customize accordion size */
.accordion {
    max-width: 100%; /* Set your desired maximum width */
    
}
.admin_pane{
    width: 50%;
    background-color: #000;
    margin-left: 25%;
    margin-top: 25px;
    border-radius: 10px;
    border-top: red;
}
